<div class="row">
    <div class="column-order">
        <div class="col-xs-10 col-xs-offset-1 order-1">
            <div class="sparkQuestion">
                <h5>Spark Question:</h5>
                <h4><%= @question.content %></h4>
            </div>
        </div>

        <div ng-controller="commentsController" class="col-xs-12 col-md-6 col-md-offset-1 order-2">
            <div align="left"> 
                <%= form_tag "/comments", method: :create do %>
                    <%= text_area_tag :body, nil, style: "width: 100%" %>
                    <%= hidden_field_tag :commentable_id, @question.id %>
                    <%= hidden_field_tag :commentable_type, "Question" %>
                    <%= hidden_field_tag :user_id, @current_user.id %>
                    <%= submit_tag "Enter Comment", class: "btn btn-warning", style: "width: 100%" %>
                <% end %>
            </div>
            <div>
                <ul>
                    <%= render partial: 'comments', collection: @question.comments %>
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 order-3">
            <a href="/books/<%= @book.id %>">
                <h4 class="right_justify_text"><%= @book.title %> </h4>
                <% if @book.cover.url(:thumb) == "/covers/thumb/missing.png" %>
                    <%= image_tag "missing_cover_medium.jpg", {class: "small_image right_justify_text" } %>
                <% else %>
                    <%= image_tag @book.cover.url(:medium), {class: "small_image right_justify_text" } %>
                <% end %>
        <%#= image_tag "#{@book.cover.url}", {class: "small_image right_justify_text" } %>
    </a>
    <% if @book.reached_max_downloads? %>
        <%= button_to "Download PDF", "/books/#{@book.id}/download", class: "btn btn-success right_justify_text black_text", :method => :get, form: {target: '_blank'} %>
    <% else %>
        <p class="right_justify_text">This book is no longer available for free download. Purchase it on <a href="<%= @book.url %>">Amazon.</a></p>
    <% end %>
</div>
  </div>
</div>
