<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="sparkQuestion">
      <h4><%= @question.content %></h4>
    </div>
  </div>
</div>
<div class="row">
  <div ng-controller="commentsController" class="col-xs-6 col-xs-offset-1">
    <div align="left"> 
      <%= form_tag "/comments", method: :create do %>
        <%= text_area_tag :body, nil, style: "width: 100%" %>
        <%= hidden_field_tag :commentable_id, @question.id %>
        <%= hidden_field_tag :commentable_type, "Question" %>
        <%= hidden_field_tag :user_id, @current_user.id %>
        <%= submit_tag "Enter Comment", class: "btn btn-warning", style: "width: 100%" %>
      <% end %>
    </div>
    <div>
      <ul>
        <%= render partial: 'comments', collection: @question.comments %>
      </ul>
    </div>
  </div>
  <div class="col-xs-4">
        <a href="/books/<%= @book.id %>">
        <h4 class="right_justify_text"><%= @book.title %> </h4>
         <%= image_tag "#{@book.cover.url}", {class: "small_image right_justify_text" } %>
         </a>
            <% if @book.reached_max_downloads? %>
               <%= button_to "Download PDF", "/books/#{@book.id}/download", class: "btn btn-success right_justify_text black_text", :method => :get, form: {target: '_blank'} %>
             <% else %>
               <p>This book is no longer available</p>
             <% end %>
  </div>
</div>
