<div class="container">
  <h1>Edit Your SparkStart Profile!</h1>
  
  <br>
  <%= simple_form_for @profile, :html => { :multipart => true } do |f| %>
    <% @profile.errors.full_messages.each do |error| %>
      <span style="color: red"><%= error %></span><br>
    <% end %>
  <br>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <%= f.label :first_name %> <br>
            <%= f.text_field :first_name, class: "form-control margin-b-20" %>
          </div>
          <div class="col-md-6">
            <%= f.label :last_name %> <br>
            <%= f.text_field :last_name, class: "form-control margin-b-20" %>
          </div>
        </div>
          <div class="row">
            <div class="col-md-6">
              <%= f.label :experience %> <br>
              <%= f.text_field :experience, class: "form-control margin-b-20" %>
            </div>
            <div class="col-md-6">
              <%= f.label :career %> <br>
              <%= f.text_field :career, class: "form-control margin-b-20" %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <%= f.label :city %> <br>
              <%= f.text_field :city, class: "form-control margin-b-20" %>
            </div>
            <div class="col-md-6">
              <%= f.label :state %> <br>
              <%= f.select :state, options_for_select(us_states, @profile.state), multiple: false, class: "form-control margin-b-20" %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <%= f.label :phone %> <br>
              <%= f.text_field :phone, class: "form-control margin-b-20" %>
            </div>
            <div class="col-md-6">
              <%= f.label :image, 'Change Image' %> <br>
              <div>
                <%= image_tag @profile.image.url(:thumb) %>
              </div>
              <%= f.file_field :image %>
              <% if @profile.image.exists? %>
                <input type="checkbox" name="delete_image" value="1"> Delete Image <br>
              <% end %>
            </div>
          </div>
            
          <div>
            <%= f.label :bio %> <br>
            <%= f.text_area :bio, rows: 10, class: "form-control margin-b-20" %>    
          </div>
          <div class="actions">
            <%= f.submit "Submit", class: 'btn btn-xl btn-skin' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>

