<div class="container">
    <div class="row">
        <% @profiles.each do |profile| %>
            <div class="col-sm-4 col-md-4 text-center">
                <% if profile.experience == "10+" %>
                    <div class="thumbnail blue-box">
                <% else %>
                    <div class="thumbnail green-box">
                <% end %>
                        <div class="img__container">
                            <% if profile.image.present? %>
                                <%= link_to (image_tag profile.image.url(:medium), class: ''), profile %>
                            <% else %>
                                <%= link_to (image_tag 'Generic-Avatar.jpg', class: "img-responsive"), profile %>
                            <% end %>
                        </div>
                        <a href="/profiles/<%= profile.id %>">
                        <div>
                            <h3><%= profile.full_name %></h3>
                            <h4><%= profile.career %></h4>
                            <h4><a href="mailto:<%= profile.user.email %>" target="_top"><%= profile.user.email%></a></h4>
                        </div>
                        </a>
                    </div>               
            </div>
        <%end%>
    </div>	
</div>

