<div class="container">
    <h1>New Profile</h1>
    <%= form_tag '/profile', method: :post do %>
    <div class="row">
        <div class="col-md-12">
            <p><%= label_tag :first_name %>
            <%= text_field_tag :first_name %></p>

            <p><%= label_tag :last_name %>
            <%= text_field_tag :last_name %></p>

            <p><%= label_tag :experience %>
            <%= text_field_tag :experience, nil, :placeholder => 'In years...' %></p>

            <p><%= label_tag 'career/major' %>
            <%= text_field_tag :career %></p>

            <p class="text_area"><%= label_tag :bio %>
            <%= text_area_tag :bio, nil, cols: 50, rows: 6 %></p>

            <p><%= label_tag :city %>
            <%= text_field_tag :city %></p>

            <p><%= select_tag :state, options_for_select(@states), multiple: false %>

            <p><%= label_tag :phone %>
            <%= text_field_tag :phone %></p>

            <p><%= label_tag :image %>
            <%= text_field_tag :image %></p>

            <%= submit_tag "Submit", class: 'btn btn-xl btn-skin pull-right' %>

        </div>
    </div>
    <% end %>
</div>
