<div class="container">

<h1>New Profile</h1>

<%= form_tag '/profile', method: :post do %>
  <p><%= label_tag :first_name %>
  <%= text_field_tag :first_name %></p>

  <p><%= label_tag :last_name %>
  <%= text_field_tag :last_name %></p>

  <p><%= label_tag :experience %>
  <%= text_field_tag :experience %></p>

  <p><%= label_tag 'career/major' %>
  <%= text_field_tag :career %></p>

  <p><%= label_tag :bio %>
  <%= text_field_tag :bio %></p>

  <p><%= label_tag :city %>
  <%= text_field_tag :city %></p>

  <p><%= label_tag :state %>
  <%= text_field_tag :state %></p>

  <p><%= label_tag :phone %>
  <%= text_field_tag :phone %></p>

  <p><%= label_tag :image %>
  <%= text_field_tag :image %></p>

  <%= submit_tag "Submit" %>

<% end %>


</div>
