<div class="container">

  <h1 class="center-it">Your User Profile!</h1>
  <div class="row">
    <div class="text-center">
      <div class="col-md-12 profile-image-container">
          <% if @profile.image.present? %>
              <%= image_tag @profile.image.url(:medium), class: "profile-image img-responsive" %>
          <% else %>
              <%= image_tag 'Generic_Avatar.jpg', class: "profile-image img-responsive" %>
          <% end %>
        <div class="team-overlay profile-image">
          <p>
            <span><%= @profile.first_name %> <%= @profile.last_name %></span>
            <em><%= @profile.career %></em>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <h4 class="text-uppercase">
      <%= @profile.city %>, <%= @profile.state %>
    </h4>
    <hr>
  </div>

  <div class="text-center">
    <h4 class="text-uppercase">about me</h4>
    <em><q><%= @profile.bio %></q></em>
    <hr>
  </div>

  <div class="text-center">
    <h4 class="text-uppercase">Experience</h4>
    <em><%= @profile.experience %> years of experience in <%= @profile.career %></em>
    <hr>
  </div>

  <div class="text-center">
    <h4 class="text-uppercase">Contact Information</h4>
      Email: <%= @profile.user.email %><br>
      Phone: <%= @profile.phone %>
  </div>

  <%= link_to 'Edit Profile', "/profiles/#{@profile.id}/edit", class: 'btn btn-xl btn-skin center' %>

</div>
