<div class="container">

  <h1 class="center-it">Your User Profile!</h1>
  <div class="row">
    <div class="text-center">
      <div class="team-style-2 image-box col-md-6 col-md-offset-3">
        <%= image_tag "stefan.jpg", class: "profile-image img-responsive" %>
        <div class="team-overlay profile-image">
          <p>
            <span><%= @profile.first_name %> <%= @profile.last_name %></span>
            <em><%= @profile.career %></em>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <h4 class="text-uppercase">
      <%= @profile.city %>, <%= @profile.state %>
    </h4>
    <hr>
  </div>

  <div class="text-center">
    <h4 class="text-uppercase">about me</h4>
    <em><q><%= @profile.bio %></q></em>
    <hr>
  </div>

  <div class="text-center">
    <h4 class="text-uppercase">Experience</h4>
    <em><%= @profile.experience %> years of experience in <%= @profile.career %></em>
    <hr>
  </div>

  <div class="text-center">
    <h4 class="text-uppercase">Contact Information</h4>
      Email: <%= @current_user.email %><br>
      Phone: <%= @profile.phone %>
  </div>
  
  <%= link_to 'Edit Profile', "/profile/#{@profile.id}/edit", class: 'btn btn-xl btn-skin center' %>

</div>
