<%= form_for [:admin, @book], :html => { :multipart => true } do |f| %>
  <% @book.errors.full_messages.each do |error| %>
    <span style="color: red"><%= error %></span><br>
  <% end %>
  <br>
    <div class="row">
      <div class="col-md-12">

        <div class="col-md-6">
          <%= f.label :title%> <br>
          <%= f.text_field :title, class: "form-control margin-b-20" %>
        </div>

        <div class="col-md-6">
          <%= f.label :url, "Link To Book" %> <br>
              <%= f.text_field :url, class: "form-control margin-b-20" %>
        </div>

        <div class="col-md-6">
          <%= f.label :cover, 'Change Cover' %> <br>
          <%= "Current Cover: #{@book.cover_file_name}" if @book.cover_file_name.present? %>
          <%= f.file_field :cover %>
        </div>

        <div class="col-md-6">
          <%= f.label :ebook, 'Change Book' %> <br>
          <%= "Current File: #{@book.ebook_file_name}" if @book.ebook_file_name.present? %>
          <%= "Current URL: #{@book.missing?}" if @book.ebook.url.present? %>
          <%= f.file_field :ebook %>
        </div>

        <div class="margin-15">
          <%= f.label :description, :style => "margin-top:15px" %> <br>
          <%= f.text_area :description, :class => 'ckeditor' %>
        </div>
    
        <div class="actions margin-15">
          <%= f.submit "Submit", class: 'btn btn-xl btn-skin' %>
        </div>
      
      </div>
    </div>
<% end %>
