<div class="container container-height">

<div class="row">
  <div class="col-xs-3">
     <%= image_tag "#{@book_image}", {class: "small_image" } %> 
  </div>
  <div class="col-xs-9">
    <h1>Sparks for the discussion below!</h1>
  </div>
</div>
  <div class="row">
    <% @questions.each do |question| %>
      <div class="col-xs-4">
      <h3>
      <%= question %> 
      </h3>
      </div>
    <% end %>
  </div>
  <div ng-app="app" class="col-xs-12">
    <div ng-controller="commentsController">
      
      <button class="btn btn-success" ng-click="showFirst()">Enter Your Thoughts Here:</button>
      <div ng-if="showFirstComment" align="right"> 
        <%= form_tag "/comments", method: :create do %>
          <%= text_field_tag :body %>
          <%= hidden_field_tag :commentable_id, @book.id %>
          <%= hidden_field_tag :commentable_type, "Book" %>
          <%= hidden_field_tag :user_id, @current_user.id %>
          <%= submit_tag "Enter Comment", class: "btn btn-warning" %>
      <% end %>
      </div>
        <ul>
          <%= render partial: 'comments', collection: @book.comments %>
        </ul>
    </div>
  </div>
</div>
