<div class="container container-height">
<div class="row">
  <div class="col-xs-9">
    <h1 class="center_text_header">Welcome to the <span class="yellow">Spark</span><span class="blue">Tank</span>!</h1>
  </div>
  <div class="col-xs-3">
     <%= image_tag "#{@book_information[:image]}", {class: "small_image" } %> 
     <button class="btn btn-success right_justify_text"><%= link_to "Download #{@book.title}", "#{@book.ebook.url}", :target => "_blank", class: "black_text"%></button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1 class="center_text_header"><span class="yellow">Spark</span><span class="blue">Starter</span> Questions:</h1>
  </div>
</div>
  <div class="row">
    <% @book_information[:questions].each do |question| %>
      <div class="col-xs-4">
      <h3>
      <%= question %> 
      </h3>
      </div>
    <% end %>
  </div>
  <div ng-app="app" class="col-xs-12">
    <div ng-controller="commentsController">
      
      <div align="left"> 
        <%= form_tag "/comments", method: :create do %>
          <%= text_field_tag :body %>
          <%= hidden_field_tag :commentable_id, @book.id %>
          <%= hidden_field_tag :commentable_type, "Book" %>
          <%= hidden_field_tag :user_id, @current_user.id %>
          <%= submit_tag "Enter Comment", class: "btn btn-warning" %>
        <% end %>
      </div>
        <ul>
          <%= render partial: 'comments', collection: @book.comments %>
        </ul>
    </div>
  </div>
</div>

