<div class="clearfix"></div>
<div class="slider-main" style="overflow: hidden">
  <!-- Master Slider -->
  <div class="master-slider ms-skin-default" id="masterslider">

    <!-- slide 1 -->
    <div class="ms-slide slide-1" data-delay="14">

      <!-- slide background -->
      <%= image_tag 'slide1.jpg', alt: 'Slide1 background' %>
      <h3 class="ms-layer title2 one full-wid font-sbold white text-uppercase text-center"
      style="left:0;top: 240px;"
      data-type="text"
      data-delay="2000"
      data-duration="2500"
      data-ease="easeOutExpo"
      data-effect="rotate3dtop(-100,0,0,40,t)">SparkStart</h3>
      <h3 class="ms-layer sub-title2 one full-wid white text-uppercase text-center"
      style="left:0px; top: 330px;"
      data-type="text"
      data-effect="bottom(45)"
      data-duration="3000"
      data-delay="2500"
      data-ease="easeOutExpo">Help people stay knowledgeable and productive</h3>
      <!-- <a class="ms-layer btn1 uppercase" href="#"
      style="center: 530px; top:380px;"
      data-type="text"
      data-delay="3000"
      data-ease="easeOutExpo"
      data-duration="2000"
      data-effect="scale(1.5,1.6)"> Learn More <i class="fa fa-angle-right"></i> </a> -->
    </div>
    <!-- end of slide -->

    <!-- slide 2 -->
    <div class="ms-slide slide-2" data-delay="14">

      <!-- slide background -->
      <%= image_tag 'slide2.jpg', alt: 'Slide2 background' %>

      <h3 class="ms-layer title2  text-uppercase"
      style="left:110px;top: 240px;"
      data-type="text"
      data-delay="2000"
      data-duration="2500"
      data-ease="easeOutExpo"
      data-effect="rotate3dtop(-100,0,0,40,t)">Mentoring Gone Wild</h3>
      <h5 class="ms-layer sub-title2 white uppercase"
      style="left:110px; top:325px;"
      data-type="text"
      data-effect="bottom(45)"
      data-duration="3000"
      data-delay="2500"
      data-ease="easeOutExpo">SparkStart will be your go-to spot for creating powerful mentoring
exchanges in a unique, fun, and simple way.</h5>
      <!-- <a class="ms-layer btn1" href="#"
      style="left:110px; top:380px;"
      data-type="text"
      data-delay="3000"
      data-ease="easeOutExpo"
      data-duration="2000"
      data-effect="scale(1.5,1.6)"> Learn More <i class="fa fa-arrow-circle-right"></i>
    </a> -->
    </div>
  <!-- end of slide -->

  <!-- slide 3 -->
  <div class="ms-slide slide-2" data-delay="14">

    <!-- slide background -->
    <%= image_tag 'slide3.jpg', alt: 'Slide3 background' %>
    <h3 class="ms-layer title2 one full-wid font-sbold white text-uppercase text-center"
    style="left:0;top: 250px;"
    data-type="text"
    data-delay="2000"
    data-duration="2500"
    data-ease="easeOutExpo"
    data-effect="rotate3dtop(-100,0,0,40,t)">A New Model for Mentoring</h3>
    <h5 class="ms-layer sub-title2 full-wid white text-uppercase text-center"
    style="left:0px; top: 340px;"
    data-type="text"
    data-effect="bottom(45)"
    data-duration="3000"
    data-delay="2500"
    data-ease="easeOutExpo">SparkStart is for those who love to read impactful books and want to share their insights on them with younger generations.</h5>
    <!-- <a class="ms-layer btn1 uppercase" href="#"
    style="center: 530px; top:410px;"
    data-type="text"
    data-delay="3000"
    data-ease="easeOutExpo"
    data-duration="2000"
    data-effect="scale(1.5,1.6)"> Learn More <i class="fa fa-angle-right"></i> </a> -->
    <!-- end of slide -->
  </div>
  <!-- end Master Slider -->
  </div>
</div>

<div class="space-70"></div>
<div class="container">
  <div class="heading-style-center">
    <h2>What Do We Do?</h2>
    <p class="sub-title">Here at SparkStart we are all about creating BIG success through using GREAT books as tools to mentor young and new adults in one-on-one and small-group conversations, both face-to-face, and virtually. Your success is better guaranteed when "Sparks" create collaborative conversations with positive action as a result. We are committed to creating an environment for igniting wonderful, make-a-difference conversations and results that come through reading great books and then sharing the wisdom from those books.</p> <br>
    <div class="row">
      <div class="col-sm-4 text-center">
        <div class="box-style-1 border-style  margin-b-30">

          <span class="livicon " data-size="48" data-name="linechart" data-duration="1000"></span>
          <div class="space-20"></div>
          <h3>Sparkster</h3>
          <p>
            Signup up to get on our list to receive free, "pre-leases" of GREAT books. All we ask is that you share these releases with others.
          </p>
        </div>
      </div><!--end col-->
      <div class="col-sm-4 text-center">
        <div class="box-style-1 border-style  margin-b-30">

          <span class="livicon " data-size="48" data-name="thumbs-up" data-duration="1000"></span>
          <div class="space-20"></div>
          <h3>Spark Leader</h3>
          <h5>5+ years industry experience</h5>
          <p>
            Subscribe to get our latest content in the form of free, pre-releases of great books. We will also send you our best tips on how you can select others to mentor.
          </p>
        </div>
      </div><!--end col-->
      <div class="col-sm-4 text-center">
        <div class="box-style-1 border-style  margin-b-30">

          <span class="livicon " data-size="48" data-name="paper-plane" data-duration="1000"></span>
          <div class="space-20"></div>
          <h3>Spark Master</h3>
          <h5>10+ years industry experience</h5>
          <p>
            Sign up to become a Spark Master! Subscribe to get our latest content in the form of free, pre-releases of great books. We will also send you tips on how you can select others to mentor and share these free books.
          </p>
        </div>
      </div><!--end col-->
    </div><!--end row-->
    <div class="row">
      <div class="col-sm-4 text-center">
        <div class="box-style-1 border-style  margin-b-30">
          <a href="/howitworks">
          <span class="livicon " data-size="48" data-name="tablet" data-duration="1000"></span>
          <div class="space-20"></div>
          <h3>How It Works</h3>
          </a>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure pariatur ex rerum laudantium accusamus ab ut quidem ducimus veniam eveniet, voluptate.
          </p>

        </div>
      </div><!--end col-->
      <div class="col-sm-4 text-center">
        <div class="box-style-1 border-style  margin-b-30">
          <a href="/mission">
          <span class="livicon " data-size="48" data-name="edit" data-duration="1000"></span>
          <div class="space-20"></div>
          <h3>Mission</h3>
          </a>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure pariatur ex rerum laudantium accusamus ab ut quidem ducimus veniam eveniet, voluptate.
          </p>

        </div>
      </div><!--end col-->
      <div class="col-sm-4 text-center">
        <div class="box-style-1 border-style  margin-b-30">
          <a href="/freevideos">
          <span class="livicon " data-size="48" data-name="tablet" data-duration="1000"></span>
          <div class="space-20"></div>
          <h3>Free Videos</h3>
          </a>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure pariatur ex rerum laudantium accusamus ab ut quidem ducimus veniam eveniet, voluptate.
          </p>

        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div>
</div>

<!--end services-->

<!-- <div class="space-50"></div> -->
<!-- <div class="call-to-action theme-bg"> -->
<% if @posts.length > 0 %>
<div class="container">
  <div class="heading-style-center">
    <h2>From the blog</h2>
  </div>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-sm-4 margin-b-40">
        <div class="grid-post">
          <!-- <a href="#"><img src="assets/box/img-1.jpg" alt="" class="img-responsive full-img"></a> -->
          <div class="grid-post-meta">
            <h3><%= link_to post.title, "/blog/#{post.id}" %></h3>
            <ul class="list-inline">
              <li>By <%= post.author %></li>
              <li><%= post.created_at.strftime("%m/%d/%Y") %></li>
            </ul>
            <p>
              <%= sanitize post.body.first(40) %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
    <!-- <div class="col-sm-4 margin-b-40">
      <div class="grid-post">
        <a href="#"><img src="assets/box/img-2.jpg" alt="" class="img-responsive full-img"></a>
        <div class="grid-post-meta">
          <h3><a href="#">Susan Wise on Mt. Everest</a></h3>
          <ul class="list-inline">
            <li>By <a href="#">Admin</a></li>
            <li>22 Feb. 2016</li>
            <li><a href="#">Startups</a></li>
          </ul>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut ratione similique temporibus tempora dicta soluta? Qui hic, voluptatem nemo quo corporis dignissimos voluptatum debitis cumque fugiat mollitia quasi quod.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 margin-b-40">
      <div class="grid-post">
        <a href="#"><img src="assets/box/img-3.jpg" alt="" class="img-responsive full-img"></a>
        <div class="grid-post-meta">
          <h3><a href="#">We Are Lions</a></h3>
          <ul class="list-inline">
            <li>By <a href="#">Admin</a></li>
            <li>22 Feb. 2016</li>
            <li><a href="#">Startups</a></li>
          </ul>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut ratione similique temporibus tempora dicta soluta? Qui hic, voluptatem nemo quo corporis dignissimos voluptatum debitis cumque fugiat mollitia quasi quod.
          </p>
        </div>
      </div>
    </div> -->
  </div>
</div>
<% end %>