<h1>Dashboard</h1>

<% number = 1 %>
<% @posts.each do |post| %>
  <p><%= number %> <b><%= link_to post.title, "/blog/#{post.id}" %></b> By <%= post.author %>, <%= post.created_at.strftime("%m-%e-%y %H:%M") %></p>
  <p><%= link_to "Edit", "/blog/#{post.id}/edit" %> <%= link_to "Delete", "/blog/#{post.id}", method: :delete %></p>
  <% number +=1 %>
  <br>
<% end %>

<br><br>

<% @categories.each do |category| %>
  <b><%= category.name %></b><br>
  <%= category.name %><br>
  <% category.posts.each do |post| %>
    <%= link_to post.title, "/blog/#{post.id}" %><br><br>
  <% end %>
<% end %>

<% @tags.each do |tag| %>
  <p><b><%= tag.tag_name %></b><br>
  <% tag.posts.each do |post| %>
    <%= link_to post.title, "/blog/#{post.id}" %><br></p>
  <%= tag.name %><br>
  <% tag.posts.each do |post| %>
    <%= link_to post.title, "/blog/#{post.id}" %><br><br>
  <% end %>
<% end %>