<h2>Edit Post</h2>

<br>

<%= form_tag "/blog/#{@post.id}", method: :patch do %>
  <p><%= label_tag :title %>
  <%= text_field_tag :title, @post.title %></p>

  <p><%= label_tag :author %>
  <%= text_field_tag :author, @post.author %></p>

  <p><%= label_tag :body %>
  <%= text_area_tag :body, @post.body %></p>

  <% @post.tags.each do |tag| %>
    <p><b>Tag </b><%= text_field_tag :tag_name, tag.tag_name %></p>
  <% end %>
  
  <% @post.categories.each do |category| %>
    <p><b>Category </b><%= text_field_tag :category, category.name %></p>
  <% end %>

  <%= submit_tag "Save" %><br>
  <%= link_to "Delete Post", "/blog/#{@post.id}", method: :delete %>
<% end %>