<div class="container">

<div class="row" style="text-align: center">
  <p><h2>Edit Post</h2></p>
</div>
<br>

<p style="color: red; text-align: center">
  <% @post.errors.full_messages.each do |error| %>
    <%= error %><br>
  <% end %>
</p>

<%= form_tag "/blog/#{@post.id}", method: :patch do %>
  <p><%= label_tag :title %><br>
  <%= text_field_tag :title, @post.title, class: "form-control" %></p>

  <p><%= label_tag :author %><br>
  <%= text_field_tag :author, @post.author, class: "form-control" %></p>

  <p><%= label_tag :body %><br>
  <%= text_area_tag :body, @post.body, class: "form-control tinymce" %></p>
  <%= tinymce %>

<!--   <div id="categories">
    <button type="button" class="btn btn-info" @click="show = !show" @click.prevent>Add Categories</button>
    <div class="row" v-if="show">
      <div v-for="category in categories">
        <div class="col-sm-6 col-md-3 col-lg-3">
          <input type="checkbox" id="{{category.name}}" value=" {{category.name}}" v-model="checkedCategories">
          <label for="{{category.name}}">{{category.name}}</label>
        </div>
      </div>
    </div>
    <p><%= label_tag :categories, "Categories" %> (Separate by commas):<br>
    <%= text_field_tag :category_string, "#{@category_string}, {{checkedCategories}}", class: "form-control" %></p>
  </div> -->
  <br>

 <!--  <div id="tags">
    <button type="button" class="btn btn-info" @click="show = !show" @click.prevent>Add Tags</button>
    <div class="row" v-if="show">
      <div v-for="tag in tags">
        <div class="col-sm-6 col-md-3 col-lg-3">
          <input type="checkbox" id="{{tag.tag_name}}" value=" {{tag.tag_name}}" v-model="checkedTags">
          <label for="{{tag.tag_name}}">{{tag.tag_name}}</label>
        </div>
      </div>
    </div>
    <p><%= label_tag :tags, "Tags" %> (Separate by commas):<br>
    <%= text_field_tag :tag_string, "#{@tag_string}, {{checkedTags}}", class: "form-control" %></p>
  </div> -->
  <br>
  
  <%= submit_tag "Save Edits", class: 'btn btn-primary' %>

<% end %>

<br>

<%= button_to "Delete Post", "/blog/#{@post.id}", method: :delete, class: 'btn btn-danger' %>

</div>