<div class="container container-height">

<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-6">
    <p><h2>Blog</h2></p>
    <% if @current_user.admin == true %>
      <p><%= link_to 'Add Post', "/admin/posts/new", class: 'btn btn-skin' %></p>
    <% end %>
  </div>
  <br>

  <div class="col-sm-12 col-md-6 col-lg-6">
    <%= form_tag '/blog', method: :get do %>
      <%= text_field_tag :search, nil, placeholder: "Search blog", size: 30 %>
      <%= submit_tag "Submit", class: 'btn btn-xl btn-skin' %>
    <% end %>
  </div>
</div>

<br><br>

<% if !@searched %>
  <% if @sorted_posts.length > 0 %>
    <% @sorted_posts.each do |post| %>
      <div class="row">
        <div class="col-md-2 col-lg-2"></div>
        <div class="col-sm-12 col-md-8 col-lg-8">
          <div class="blog-header"><%= link_to post.title, "/blog/#{post.id}" %></div>
          <div class="blog-body"><%= sanitize post.body.first(550) %> <% if post.body.length > 550 %> ... <% end %></div>
          <div class="blog-author">By <%= post.author %>, <%= post.created_at.strftime("%m/%d/%Y") %></div><br>
        </div>
        <div class="col-md-2 col-lg-2"></div>
      </div>
    <% end %>
    <% else %>
      There are no posts yet.
  <% end %>

<% elsif @searched %>
  <% if @searched.length > 0 %>
    <% @searched.each do |post| %>
      <div class="row">
        <div class="col-md-2 col-lg-2"></div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="blog-header"><%= link_to post.title, "/blog/#{post.id}" %></div>
            <div class="blog-body"><%= post.body.first(40) %></div>
            <div class="blog-author">By <%= post.author %>, <%= post.created_at.strftime("%m/%d/%Y") %></div><br>
          </div>
        <div class="col-md-3 col-lg-3"></div>
      </div>
    <% end %>
  <% else %>
    <p>No search results.</p>
  <% end %>
</div>
<% end %>

</div>