<div class="container">

<br><br>

<h2>Blog</h2>

<%= form_tag '/blogs', method: :get do %>
  <%= text_field_tag :search, nil, placeholder: "Search blog" %>
  <%= submit_tag "Submit", class: 'button' %>
<% end %>

<%= link_to 'Add Post', '/blog/new' %>

<br><br>

<% if !@searched %>
  <% @posts.each do |post| %>
    <p><h4><%= link_to post.title, "/blog/#{post.id}" %></h4></p>
    <p><%= post.body %></p>
    <p>By <%= post.author %>, <%= post.created_at.strftime("%m-%e-%y %H:%M") %></p>
    <br>
  <% end %>

<% elsif @searched %>
  <% @searched.each do |post| %>
    <%= link_to post.title, "/blog/#{post.id}" %><br>
  <% end %>
<% end %>

</div>