<<<<<<< 3b15a68749c2a52b39a65bf812412d011a16bd20
<div class="container">

Posts Index Page
=======
<h1><b><u>Blog</u></b></h1>
>>>>>>> add update view

<br><br>

Hello <%= @user["info"]["email"] %>,

<% @posts.each do |post| %>
  <p><%= post.title %></p>
  <p><%= post.author %></p>
  <p><%= post.body %></p>
  <p><%= post.tags %></p>
<% end %>
<<<<<<< 3b15a68749c2a52b39a65bf812412d011a16bd20

<br><br>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ultrices, felis sit amet rutrum placerat, nisl tellus egestas quam, et efficitur magna neque ac ex. Mauris bibendum turpis sit amet vehicula maximus. Sed dapibus gravida lectus ut ultrices. Ut in neque eget neque pellentesque mattis feugiat ac risus. Sed feugiat facilisis justo, eu posuere metus tincidunt in. Donec non dui in lacus placerat euismod. Nulla ac volutpat nulla. Duis semper erat et dictum pellentesque. Aliquam non velit sed turpis lacinia laoreet. Phasellus non arcu non dui iaculis ultrices non placerat arcu. Etiam orci lacus, efficitur vitae erat non, iaculis laoreet massa. Cras varius enim nulla, quis sollicitudin nunc blandit a. Quisque auctor, urna eget pulvinar efficitur, leo nisl elementum turpis, vitae dignissim eros orci vel lectus.
<br><br>
Curabitur convallis blandit nisi et sollicitudin. Morbi faucibus velit quis dui posuere semper. Donec pellentesque elit et tellus congue, quis semper orci consectetur. Sed non euismod massa. Aliquam lobortis molestie diam, sed auctor nulla sollicitudin a. Nam rhoncus magna nisl, nec porta nisl gravida eget. Pellentesque eget tortor eu eros iaculis dictum. Ut congue et purus ut vestibulum.
<br><br>
Morbi id convallis eros. Proin ornare volutpat mattis. Nulla eu metus sed elit rhoncus lobortis quis semper dolor. Vestibulum dignissim egestas scelerisque. Aenean hendrerit tortor sit amet convallis laoreet. Sed vitae erat vitae dui vestibulum suscipit id vel est. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse potenti. Duis vitae facilisis nisi. Nullam non metus eget nisl condimentum tincidunt ut vel lectus. Nunc vel dolor id dui aliquam ultrices et quis mi. Fusce id massa sed sapien mollis vulputate. Integer varius, lorem in feugiat dignissim, dui lorem blandit velit, sed convallis velit nibh eget velit. Praesent sit amet rhoncus est, a rutrum ipsum. Praesent leo mi, sodales eget placerat non, vestibulum eget lectus.
<br><br>
Nulla aliquet lorem at placerat viverra. Pellentesque at mauris ultrices, mollis ipsum nec, vestibulum ex. Sed maximus massa a diam tempus posuere. Nam sodales enim vitae laoreet convallis. Quisque massa elit, iaculis eget enim et, tempor ultricies quam. Nam condimentum turpis non justo ultrices convallis. Nulla est risus, aliquam at auctor et, tincidunt quis turpis. Aliquam sit amet aliquam ipsum, eu egestas felis. Quisque non nibh ante. Suspendisse molestie, est sit amet porttitor ullamcorper, sapien tortor luctus odio, eget ultrices felis justo quis erat. Ut at sollicitudin enim, nec dapibus odio. Proin et erat nulla. Proin at quam sit amet nulla volutpat elementum at a nulla. Nam hendrerit, justo non vehicula finibus, risus metus accumsan diam, eget mattis diam nulla et felis. Sed vel mi rutrum tortor convallis dictum. Aliquam et vestibulum mauris, vehicula maximus augue.
<br><br>
Aliquam auctor odio purus, vitae faucibus nisl consectetur sit amet. Nullam turpis nunc, vehicula at augue eget, tempus molestie nibh. Donec aliquet libero fermentum orci laoreet semper. Ut eu justo vitae augue vestibulum finibus. Donec mattis elit ut lorem laoreet, vel finibus ligula euismod. Sed a quam at elit efficitur commodo. Cras eu laoreet velit. Cras hendrerit luctus ex, et vulputate risus cursus ac.

</div>
=======
>>>>>>> add update view
