<div class="container">

<div id="app">
  {{ message }}
</div>

<div id="checkbox">

  <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
  <label for="jack">Jack</label>
  <input type="checkbox" id="john" value="John" v-model="checkedNames">
  <label for="john">John</label>
  <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
  <label for="mike">Mike</label>
  <br>
  <span>Checked names: {{ checkedNames }}</span>

</div>

<ul id="tags">
  <li v-for="tag in tags">
    {{ tag.tag_name }}
  </li>
</ul>

<br><br>

<h2>Blog</h2>

<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-6">
    <h2>Blog</h2>
  </div>
  <br>
<% if @post.present? %>
  <div class="col-sm-12 col-md-6 col-lg-6">
    <%= form_tag '/blogs', method: :get do %>
      <%= text_field_tag :search, nil, placeholder: "Search blog" %>
      <%= submit_tag "Submit", class: 'button' %>
    <% end %>
  </div>
</div>

<%= link_to 'Add Post', '/blog/new' %>

<%= link_to 'Add Post', '/blog/new' %>

<br><br>

<div class="row">

    <% if !@searched %>
      <% @sorted_posts.each do |post| %>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <p><h4><%= link_to post.title, "/blog/#{post.id}" %></h4></p>
          <p><%= post.body.first(40) %></p>
          <p>By <%= post.author %>, <%= post.created_at.strftime("%m/%d/%Y") %></p><br>
        </div>
      <% end %>

    <% elsif @searched %>
      <% @searched.each do |post| %>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <p><h4><%= link_to post.title, "/blog/#{post.id}" %></h4></p>
          <p><%= post.body.first(40) %></p>
          <p>By <%= post.author %>, <%= post.created_at.strftime("%m/%d/%Y") %></p><br>
        <% end %>
      </div>
    <% end %>
    <% else %>
    <p class="col-sm-12"> There are no posts yet! </p>
</div>



<% end %>

</div>
