<div class="container">

<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-6">
    <p><h2>Blog</h2></p>
    <p><%= link_to 'Add Post', '/blog/new' %></p>
  </div>
  <br>
<% if @posts %>
  <div class="col-sm-12 col-md-6 col-lg-6">
    <%= form_tag '/blogs', method: :get do %>
      <%= text_field_tag :search, nil, placeholder: "Search blog", size: 30 %>
      <%= submit_tag "Submit", class: 'btn btn-xl btn-skin' %>
    <% end %>
  </div>
</div>


<br><br>

  <% if !@searched %>
    <% @sorted_posts.each do |post| %>
      <div class="row">
        <div class="col-md-2 col-lg-2"></div>
        <div class="col-sm-12 col-md-8 col-lg-8">
          <div class="blog-header"><%= link_to post.title, "/blog/#{post.id}" %></div>
          <div class="blog-body"><%= post.body.first(500) %></div>
          <div class="blog-author">By <%= post.author %>, <%= post.created_at.strftime("%m/%d/%Y") %></div><br>
        </div>
        <div class="col-md-3 col-lg-3"></div>
      </div>
    <% end %>

  <% elsif @searched %>
    <% @searched.each do |post| %>
      <div class="row">
        <div class="col-md-2 col-lg-2"></div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="blog-header"><%= link_to post.title, "/blog/#{post.id}" %></div>
            <div class="blog-body"><%= post.body.first(40) %></div>
            <div class="blog-author">By <%= post.author %>, <%= post.created_at.strftime("%m/%d/%Y") %></div><br>
          </div>
        <div class="col-md-3 col-lg-3"></div>
      </div>
    <% end %>
  <% else %>
<<<<<<< 5a9d0a1a5a4a6bf6f178729078626f88ac14bef8
<<<<<<< 43b2648dca2eeeb4ae149c6ad5f3998900ae50b5
    <p class="col-sm-12">There are no posts yet!</p>
=======
    <p class="col-sm-12"> There are no posts yet! </p>
>>>>>>> fix vue add new fields
=======
    <p class="col-sm-12">There are no posts yet!</p>
>>>>>>> add styling to post new view
  </div>
  <% end %>

<% end %>

</div>
