<div class="container">

<br><br>

<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-6">
    <h2>Blog</h2>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-6">
    <%= form_tag '/blogs', method: :get do %>
      <%= text_field_tag :search, nil, placeholder: "Search blog" %>
      <%= submit_tag "Submit", class: 'button' %>
    <% end %>
  </div>
</div>

<%= link_to 'Add Post', '/blog/new' %>

<br><br>

<div class="row">

    <% if !@searched %>
      <% @sorted_posts.each do |post| %>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <p><h4><%= link_to post.title, "/blog/#{post.id}" %></h4></p>
          <p><%= post.body.first(40) %></p>
          <p>By <%= post.author %>, <%= post.created_at.strftime("%m/%d/%Y") %></p><br>
        </div>
      <% end %>

    <% elsif @searched %>
      <% @searched.each do |post| %>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <p><h4><%= link_to post.title, "/blog/#{post.id}" %></h4></p>
          <p><%= post.body.first(40) %></p>
          <p>By <%= post.author %>, <%= post.created_at.strftime("%m/%d/%Y") %></p><br>
        <% end %>
      </div>
    <% end %>

</div>

</div>