<h2>Add Blog Post</h2>

<br>

<% @post.errors.full_messages.each do |error| %>
  <%= error %><br>
<% end %>

<%= form_tag '/blog', method: :post do %>
  <p><%= label_tag :title %>
  <%= text_field_tag :title %></p>

  <p><%= label_tag :author %>
  <%= text_field_tag :author %></p>

  <p><%= label_tag :body %>
  <%= text_area_tag :body %></p>

  <p><%= label_tag "Tags" %> (Separate by commas):
  <%= text_field_tag :tag_string %></p>

  <p><%= label_tag "Category" %> (Separate by commas):
  <%= text_field_tag :category_string %></p>

  <%= submit_tag "Submit" %>
<% end %>
