<h2>Add Blog Post</h2>

<br>

<%= form_tag '/blog', method: :post do %>
  <p><%= label_tag :title %>
  <%= text_field_tag :title %></p>

  <p><%= label_tag :author %>
  <%= text_field_tag :author %></p>

  <p><%= label_tag :body %>
  <%= text_area_tag :body %></p>

  <p><%= label_tag "Tags" %>
  <%= select_tag(:tag_id, options_for_select(@tag_options)) %></p>

  <p><b>New Tag </b><%= text_field_tag :tag_name %></p>

  <p><%= label_tag "Category" %> Separate by commas:<br>
  <%= text_field_tag :category_string %></p>

  <%= submit_tag "Submit" %>
<% end %>
