<div class="container">

<div class="row" style="text-align: center">
  <p><h2>Add Blog Post</h2></p>
</div>
<br>

<% @post.errors.full_messages.each do |error| %>
  <%= error %><br>
<% end %>

<%= form_tag '/blog', method: :post do %>
  <p><%= label_tag :title %><br>
  <%= text_field_tag :title, nil, class: "form-control" %></p>

  <p><%= label_tag :author %><br>
  <%= text_field_tag :author, nil, class: "form-control" %></p>

  <p><%= label_tag :body %><br>
  <%= text_area_tag :body, nil, rows: 10, class: "form-control" %></p>

  <div id="categories">
    <p><button type="button" class="btn btn-primary" @click="show = !show" @click.prevent>Choose Categories</button></p>
    <div class="row" v-if="show">
      <div v-for="category in categories">
        <div class="col-sm-6 col-md-3 col-lg-3">
          <input type="checkbox" id="{{category.name}}" value=" {{category.name}}" v-model="checkedCategories">
          <label for="{{category.name}}">{{category.name}}</label>
        </div>
      </div>
    </div>

    <div v-for="checkedCategory in checkedCategories">
      <p><input v-model="checkedCategory"> <button @click="deleteCategoryField(checkedCategory)" @click.prevent class="btn btn-danger">delete</button></p>
    </div>
    <p><button @click="addCategory" @click.prevent class="btn btn-info">Create New Category</button></p>
    
    <%= label_tag :categories, "Categories" %>:<br>
    <%= text_field_tag :category_string, "{{checkedCategories}}", style: "border: none; width: 100%; resize: none", readonly: "readonly" %>

  </div>
  <br>

  <div id="tags">
    <p><button type="button" class="btn btn-primary" @click="show = !show" @click.prevent>Choose Tags</button></p>
    <div class="row" v-if="show">
      <div v-for="tag in tags">
        <div class="col-sm-6 col-md-3 col-lg-3">
          <input type="checkbox" id="{{tag.tag_name}}" value=" {{tag.tag_name}}" v-model="checkedTags">
          <label for="{{tag.tag_name}}">{{tag.tag_name}}</label>
        </div>
      </div>
    </div>

    <div v-for="checkedTag in checkedTags">
      <p><input v-model="checkedTag"> <button @click="deleteTagField(checkedTag)" @click.prevent class="btn btn-danger">delete</button></p>
    </div>
    <p><button @click="addTag" @click.prevent class="btn btn-info">Create New Tag</button></p>

    <p><%= label_tag :tags, "Tags" %>:
    <%= text_area_tag :tag_string, "{{checkedTags}}", style: "border: none; width: 100%; resize: none", readonly: "readonly" %></p>

  </div>
  <br>

  <%= submit_tag "Submit", class: "btn btn-xl btn-skin" %>

<% end %>

</div>
