<div class="container">

<br><br>

<h2>Add Blog Post</h2>

<br>

<% @post.errors.full_messages.each do |error| %>
  <%= error %><br>
<% end %>

<%= form_tag '/blog', method: :post do %>
  <p><%= label_tag :title %><br>
  <%= text_field_tag :title, nil, size: 50 %></p>

  <p><%= label_tag :author %><br>
  <%= text_field_tag :author, nil, size: 50 %></p>

  <p><%= label_tag :body %><br>
  <%= text_area_tag :body, nil, cols: 100, rows: 6 %></p>

  <p><div id="categories">
    <button type="button" class="btn btn-info" v-on:click="show = !show" @click.prevent>View Categories</button>

    <div class="row" v-if="show">
      <div v-for="category in categories">
        <div class="col-sm-6 col-md-3 col-lg-3">
          <input type="checkbox" id="{{category.name}}" value=" {{category.name}}" v-model="checkedCategories">
          <label for="{{category.name}}">{{category.name}}</label>
        </div>
      </div>
    </div>

    <p><%= label_tag "Categories" %> (Separate by commas):<br>
    <%=text_field_tag :category_string, '{{ checkedCategories }}', size: 50 %>

  </div></p>

  <br>

  <p><div id="tags">
    <button type="button" class="btn btn-info" v-on:click="show = !show" @click.prevent>View Tags</button>

    <div class="row" v-if="show">
      <div v-for="tag in tags">
        <div class="col-sm-6 col-md-3 col-lg-3">
          <input type="checkbox" id="{{tag.tag_name}}" value=" {{tag.tag_name}}" v-model="checkedTags">
          <label for="{{tag.tag_name}}">{{tag.tag_name}}</label>
        </div>
      </div>
    </div>

    <p><%= label_tag "Tags" %> (Separate by commas):<br>
    <%=text_field_tag :tag_string, '{{ checkedTags }}', size: 50 %>
    
  </div></p>

  <br>

  <%= submit_tag "Submit", class: "btn btn-primary" %>
<% end %>

</div>
