<div class="container">

<h1>Blog Posts</h1>
<br>
<p>Title: <%= @post.title %></p>
<p>Author: <%= @post.author %></p>
<p>Body: <%= @post.body %></p>
<p>Tags: <%= @post.tags %></p>
<p>Categories: <% @post.categories.each do |cat_name| %>
  <%= cat_name.name %>
<% end %></p>

<% if @post.comments %>
  <% @post.comments.each do |comment| %>
    <p><%= comment.body %></p>
  <% end %>
<% end %>

<%= form_tag '/comment', method: :post do %>
  <p><%= label_tag "Comment" %>
  <%= text_area_tag :body %></p>
  <%= hidden_field_tag :post_id, @post.id %>
  <%= submit_tag "Submit" %>
<% end %>

</div>