<div class="container">

<br><br>
<%= @user %>

<h2><%= @post.title %></h2>

<p><b>Author:</b> <%= @post.author %></p><br>

<p><%= @post.body %></p><br>

<p><b>Tags:</b>
  <%= @tag_list.join(", ") %>
</p>

<p><b>Categories:</b>
  <%= @category_list.join(", ") %>
</p>

<p><%= link_to "Edit Post", "/blog/#{@post.id}/edit" %></p>

<br><br>

<% if @post.comments.count > 0 %>

  <% @post.comments.each do |comment| %>
    <p><b>Comment:</b> <%= comment.body %></p>
  <% end %>

  <br><br>

<% end %>

<%= form_tag '/comment', method: :post do %>
  <p><%= label_tag "Post Comment:" %><br>
  <%= text_area_tag :body, nil, cols: 100, rows: 6 %></p>
  <%= hidden_field_tag :post_id, @post.id %>

  <%= submit_tag "Submit" %>
<% end %>


</div>
