<div class="container">

<br><br>

<h2><%= @post.title %></h2>

<p><b>Author:</b> <%= link_to @post.author, "/blogs/?search=#{@post.author}" %></p><br>

<p><%= sanitize @post.body %></p><br>

<p><%= image_tag @post.image.url %></p><br>

<p><b>Tags:</b>
  <% @tag_list.each do |tag| %>
    <% if @tag_list.index(tag) < @tag_list.length - 1 %>
      <%= link_to tag, "/blogs/?tag_search=#{tag}" %>,
    <% else %>
      <%= link_to tag, "/blogs/?tag_search=#{tag}" %>
    <% end %>
  <% end %>
</p>

<p><b>Categories:</b>
  <% @category_list.each do |category| %>
    <% if @category_list.index(category) < @category_list.length - 1 %>
      <%= link_to category, "/blogs/?category_search=#{category}" %>,
    <% else %>
      <%= link_to category, "/blogs/?category_search=#{category}" %>
    <% end %>
  <% end %>
</p>

<p><%= button_to "Edit Post", "/blog/#{@post.id}/edit", method: :get, class: "btn btn-primary" %></p>

<br><br>

<% @post.comments.each do |comment| %>
  <p><b>Comment:</b> <%= comment.body %></p>
<% end %>

<br><br>

<%= form_tag '/comment', method: :post do %>
  <p><%= label_tag "Post Comment:" %><br>
  <%= text_area_tag :body, nil, cols: 100, rows: 6 %></p>
  <%= hidden_field_tag :post_id, @post.id %>

  <%= submit_tag "Submit", class: "btn btn-primary" %>
<% end %>

</div>