<!DOCTYPE html>
<html lang="en">
    <head>
        <%= csrf_meta_tags %>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Spark Start</title>

        <!-- Bootstrap -->

        <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity: 'sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin: 'anonymous' %>
        
        <%= stylesheet_link_tag 'bootstrap.min' %>
        <%= stylesheet_link_tag 'bootstrap-toggle.min' %>
        <%= stylesheet_link_tag 'custom_style' %>
        <%= stylesheet_link_tag 'font-awesome.min' %>
        <%= stylesheet_link_tag 'et-line' %>
        <%= stylesheet_link_tag 'hover-min' %>
        <%= stylesheet_link_tag 'animate' %>
        <%= stylesheet_link_tag 'owl.carousel' %>
        <%= stylesheet_link_tag 'owl.theme' %>
        <%= stylesheet_link_tag 'owl.transitions' %>
        <%= stylesheet_link_tag 'lightbox' %>
        <%= stylesheet_link_tag 'flexslider' %>

        <!--master slider-->
        <%= stylesheet_link_tag 'masterslider' %>
        <%= stylesheet_link_tag 'style' %>
        <%= stylesheet_link_tag 'main' %>

        <!--cube portfolio-->        
        <%= stylesheet_link_tag 'cubeportfolio.min' %>

        <!--main css file-->
        <%= stylesheet_link_tag 'cs.style' %>

        <%= stylesheet_link_tag 'application' %>

    </head>
    <body bgcolor="#ffffff">

        <div id="preloader"></div>

        <header class="top-header navbar-default navbar navbar-static-top sticky-header yamm">
            <div class="container">
                <div class="pull-right nav-header-right">
                </div>
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><h1>Spark Start</h1></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <% if session[:userinfo].present? %>
                        <li class="dropdown">
                          <% if @current_user.profile.present? %>
                            <%= link_to "Profile", "/profiles/#{@current_user.profile.id}" %>
                          <% else %>
                            <%= link_to "Profile", "/profiles/new" %>
                          <% end %>
                        </li>

                        <li class="dropdown">
                            <a href="/blog" role="button">Blog</a>
                        </li>

                        <li class="dropdown">
                        <% if @current_user.profile.present? %>
                          <%= link_to "Books", "/books" %>
                        <% end %>
                        </li>

                        <li class="dropdown yamm-fw">
                          <!-- <a href="#" class onclick="lock.show();">Login / Register</a> -->
                            <a href="/logout">Logout</a>
                            <% else %>
                            <a href="#" class onclick="lock.show();">Login / Register</a>
                          <% end %>
                        </li>

                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </header>
        <!-- header end -->



      <%= yield %>


      <div class="space-30"></div>

      <footer class="footer-custom">
          <div class="container">
              <div class="row">


                  <div class="col-md-3 margin-b-30">
                      <h3>Visit us</h3>
                      <p>
                        (312) 560-0982
                        <a href="mailto:melissa@networlding.com">melissa@networlding.com</a>
                        <br>
                        101 N Wacker #614,
                        Chicago, IL 60606
                      </p>
                      <div class="clearfix">
                          <a class="social-icon social-dark social-sm  si-facebook" href="http://www.facebook.com/NetworldingPublishing" data-toggle="tooltip" title="" data-original-title="Facebook"><%= image_tag 'facebook_square.png', height: 25, width: 25 %></a>
                          <a class="social-icon social-dark social-sm si-twitter" href="http://twitter.com/networlding" data-toggle="tooltip" title="" data-original-title="Twitter"><%= image_tag 'twitter_square.png', height: 25, width: 25 %></a>
                          <a class="social-icon social-dark social-sm si-linkedin" href="http://www.linkedin.com/in/melissagwilson" data-toggle="tooltip" title="" data-original-title="Linkedin"><%= image_tag 'linkedin_square.png', height: 25, width: 25 %></a>
                          <a class="social-icon social-dark social-sm si-g-plus" href="https://plus.google.com/116727844459701235557?prsrc=3" data-toggle="tooltip" title="" data-original-title="Google+"><%= image_tag 'googleplus_square.png', height: 25, width: 25 %></a>
                          <a class="social-icon social-dark social-sm si-pinterest" href="http://pinterest.com/melissagwilson/" data-toggle="tooltip" title="" data-original-title="pinterest"><%= image_tag 'pinterest_square.png', height: 25, width: 25 %></a>
                      </div>
                  </div>
              </div>
          </div>
      </footer>
      <!--back to top-->
      <a href="#" class="scrollToTop"><span class="livicon" data-size="32" data-name="angle-double-up" data-duration="1000"></span></a>
      <!--back to top end-->
      <!-- jQuery plugins-->
      <%= javascript_include_tag 'jquery.min' %>
      <%= javascript_include_tag 'jquery-migrate.min' %>
      <%= javascript_include_tag 'jquery.easing.min' %>
      <%= javascript_include_tag 'bootstrap.min' %>
      <%= javascript_include_tag 'bootstrap-toggle.min' %>


      <% javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity: "sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin: "anonymous" %>

      <%= javascript_include_tag 'bootstrap-hover-dropdown.min' %>
      <%= javascript_include_tag 'raphael-min' %>
      <%= javascript_include_tag 'livicons-1.4.min' %>
      <%= javascript_include_tag 'jquery.waypoints.min' %>
      <%= javascript_include_tag 'jquery.counterup.min' %>
      <%= javascript_include_tag 'owl.carousel.min' %>
      <%= javascript_include_tag 'jquery.flexslider-min' %>
      <%= javascript_include_tag 'jquery.appear' %>
      <%= javascript_include_tag 'modernizr.custom.97074' %>
      <%= javascript_include_tag 'jquery.stellar.min' %>
      <%= javascript_include_tag 'jquery.BlackAndWhite' %>
      <%= javascript_include_tag 'lightbox.min' %>
      <%= javascript_include_tag 'jquery.hoverdir' %>
      <%= javascript_include_tag 'jquery.sticky' %>
      <%= javascript_include_tag 'wow.min' %>
      <%= javascript_include_tag 'headroom' %>
      <%= javascript_include_tag 'versa' %>

      <!--page template scripts-->
      <%= javascript_include_tag 'masterslider.min' %>

      <!--cube portfolio-->
      <%= javascript_include_tag 'jquery.cubeportfolio.min' %>

      <%= javascript_include_tag 'https://cdn.auth0.com/js/lock/10.0/lock.min.js' %>
      <script type="text/javascript">
        var lock = new Auth0Lock('120SH91pK3Jo2SIUNxPW3PU688IcVu83', 'sparkstart.auth0.com', {
          auth: {
            redirectUrl: "<%=ENV['REDIRECT_URL']%>",
            responseType: 'code',
            params: {
              scope: 'openid email' // Learn about scopes: https://auth0.com/docs/scopes
            }
          }
        });
      </script>

      <script type="text/javascript">
          (function ($) {
              "use strict";
              var slider = new MasterSlider();

              // adds Arrows navigation control to the slider.
              slider.control('arrows');
              slider.control('timebar', {insertTo: '#masterslider'});
              slider.control('bullets');

              slider.setup('masterslider', {
                  width: 1400, // slider standard width
                  height: 600, // slider standard height
                  space: 0,
                  layout: 'fullwidth',
                  loop: true,
                  preload: 0,
                  instantStartLayers: true,
                  autoplay: true
              });
          })(jQuery);

          //cube filter
          (function ($, window, document, undefined) {
              'use strict';

              var gridContainer = jQuery('#grid-container'),
                      filtersContainer = jQuery('#filters-container'),
                      wrap, filtersCallback;


              /*********************************
               init cubeportfolio
               *********************************/
              gridContainer.cubeportfolio({
                  layoutMode: 'grid',
                  rewindNav: true,
                  scrollByPage: false,
                  defaultFilter: '*',
                  animationType: 'slideLeft',
                  gapHorizontal: 10,
                  gapVertical: 10,
                  gridAdjustment: 'responsive',
                  mediaQueries: [{
                          width: 800,
                          cols: 4
                      }, {
                          width: 500,
                          cols: 2
                      }, {
                          width: 320,
                          cols: 1
                      }],
                  caption: 'zoom',
                  displayType: 'lazyLoading',
                  displayTypeSpeed: 100
              });


              /*********************************
               add listener for filters
               *********************************/
              if (filtersContainer.hasClass('cbp-l-filters-dropdown')) {
                  wrap = filtersContainer.find('.cbp-l-filters-dropdownWrap');

                  wrap.on({
                      'mouseover.cbp': function () {
                          wrap.addClass('cbp-l-filters-dropdownWrap-open');
                      },
                      'mouseleave.cbp': function () {
                          wrap.removeClass('cbp-l-filters-dropdownWrap-open');
                      }
                  });

                  filtersCallback = function (me) {
                      wrap.find('.cbp-filter-item').removeClass('cbp-filter-item-active');
                      wrap.find('.cbp-l-filters-dropdownHeader').text(me.text());
                      me.addClass('cbp-filter-item-active');
                      wrap.trigger('mouseleave.cbp');
                  };
              } else {
                  filtersCallback = function (me) {
                      me.addClass('cbp-filter-item-active').siblings().removeClass('cbp-filter-item-active');
                  };
              }

              filtersContainer.on('click.cbp', '.cbp-filter-item', function () {
                  var me = $(this);

                  if (me.hasClass('cbp-filter-item-active')) {
                      return;
                  }

                  // get cubeportfolio data and check if is still animating (reposition) the items.
                  if (!$.data(gridContainer[0], 'cubeportfolio').isAnimating) {
                      filtersCallback.call(null, me);
                  }

                  // filter the items
                  gridContainer.cubeportfolio('filter', me.data('filter'), function () {
                  });
              });


              /*********************************
               activate counter for filters
               *********************************/
              gridContainer.cubeportfolio('showCounter', filtersContainer.find('.cbp-filter-item'), function () {
                  // read from url and change filter active
                  var match = /#cbpf=(.*?)([#|?&]|$)/gi.exec(location.href),
                          item;
                  if (match !== null) {
                      item = filtersContainer.find('.cbp-filter-item').filter('[data-filter="' + match[1] + '"]');
                      if (item.length) {
                          filtersCallback.call(null, item);
                      }
                  }
              });

          })(jQuery, window, document);

      </script>

    <%= javascript_include_tag 'application' %>
    </body>
  </html>
